.navBar{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #363d42;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navBar .navLogo a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}


.navBar .navInput input{
    width: 350px;
    height: 40px;
    background-color: #4e585f;
    font-size: 15px;
    border: none;
    outline: none;
    position: relative;
    color: white;
    padding: 5px;
}

.navBar .navInput{
    position: relative;
}

.navBar .navInput  i{
    color: white;
    position: absolute;
    right: 3%;
    top: 40%;
    font-size: 10px;
}


.navBar .navSign a{
    color: white;
    font-size: 30px;
}

.navBar .navSign{
    width: 100px;
    display: flex;
    justify-content: space-between;
}